.mainContainer {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(108, 231, 231), rgb(94, 168, 184));
}
.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.heroLeftSide {
  border: 1px solid red;
}
.heroRightSide {
  border: 1px solid red;
  background-image: url(../../image-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
}
