.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 90.48803827751195,151.55980861244018 180.9760765550239,103.11961722488039 283,126 C 385.0239234449761,148.8803827751196 498.58373205741634,243.08133971291863 590,261 C 681.4162679425837,278.91866028708137 750.688995215311,220.555023923445 829,181 C 907.311004784689,141.444976076555 994.6602870813397,120.69856459330143 1098,127 C 1201.3397129186603,133.30143540669857 1320.6698564593303,166.6507177033493 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 96.30622009569379,168.9665071770335 192.61244019138758,137.93301435406698 281,142 C 369.3875598086124,146.06698564593302 449.8564593301436,185.23444976076556 547,215 C 644.1435406698564,244.76555023923444 757.9617224880384,265.12918660287085 854,247 C 950.0382775119616,228.87081339712918 1028.2966507177034,172.2488038277512 1123,158 C 1217.7033492822966,143.7511961722488 1328.8516746411483,171.8755980861244 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 107.76076555023923,203.79904306220095 215.52153110047846,207.59808612440193 300,202 C 384.47846889952154,196.40191387559807 445.67464114832535,181.4066985645933 551,176 C 656.3253588516747,170.5933014354067 805.7799043062201,174.77511961722485 909,186 C 1012.2200956937799,197.22488038277515 1069.2057416267942,215.4928229665072 1150,219 C 1230.7942583732058,222.5071770334928 1335.3971291866028,211.2535885167464 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 75.5885167464115,200.555023923445 151.177033492823,201.11004784688996 256,178 C 360.822966507177,154.88995215311004 494.88038277511953,108.11483253588514 591,129 C 687.1196172248805,149.88516746411486 745.3014354066986,238.4306220095694 828,261 C 910.6985645933014,283.5693779904306 1017.9138755980862,240.16267942583733 1124,219 C 1230.0861244019138,197.83732057416267 1335.043062200957,198.91866028708134 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 90.48803827751195,151.55980861244018 180.9760765550239,103.11961722488039 283,126 C 385.0239234449761,148.8803827751196 498.58373205741634,243.08133971291863 590,261 C 681.4162679425837,278.91866028708137 750.688995215311,220.555023923445 829,181 C 907.311004784689,141.444976076555 994.6602870813397,120.69856459330143 1098,127 C 1201.3397129186603,133.30143540669857 1320.6698564593303,166.6507177033493 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 98.55502392344502,418.17224880382776 197.11004784689004,436.34449760765546 281,426 C 364.88995215310996,415.65550239234454 434.11483253588506,376.79425837320576 528,349 C 621.8851674641149,321.20574162679424 740.4306220095693,304.4784688995215 861,337 C 981.5693779904307,369.5215311004785 1104.1626794258373,451.2918660287081 1201,470 C 1297.8373205741627,488.7081339712919 1368.9186602870814,444.35406698564594 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 76.72727272727272,379.933014354067 153.45454545454544,359.86602870813397 243,362 C 332.54545454545456,364.13397129186603 434.9090909090909,388.4688995215311 544,383 C 653.0909090909091,377.5311004784689 768.909090909091,342.25837320574163 882,333 C 995.090909090909,323.74162679425837 1105.4545454545453,340.4976076555024 1198,356 C 1290.5454545454547,371.5023923444976 1365.2727272727275,385.7511961722488 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 93.12918660287082,436.5454545454545 186.25837320574163,473.09090909090907 278,470 C 369.74162679425837,466.90909090909093 460.0956937799042,424.1818181818182 554,414 C 647.9043062200958,403.8181818181818 745.3588516746412,426.18181818181824 834,430 C 922.6411483253588,433.81818181818176 1002.4688995215311,419.09090909090907 1102,411 C 1201.531100478469,402.90909090909093 1320.7655502392345,401.4545454545455 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 67.08133971291866,366.1626794258373 134.16267942583733,332.32535885167465 245,332 C 355.8373205741627,331.67464114832535 510.43062200956933,364.8612440191388 615,389 C 719.5693779904307,413.1387559808612 774.1148325358853,428.2296650717704 857,444 C 939.8851674641147,459.7703349282296 1051.11004784689,476.22009569377985 1153,469 C 1254.88995215311,461.77990430622015 1347.4449760765551,430.8899521531101 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 98.55502392344502,418.17224880382776 197.11004784689004,436.34449760765546 281,426 C 364.88995215310996,415.65550239234454 434.11483253588506,376.79425837320576 528,349 C 621.8851674641149,321.20574162679424 740.4306220095693,304.4784688995215 861,337 C 981.5693779904307,369.5215311004785 1104.1626794258373,451.2918660287081 1201,470 C 1297.8373205741627,488.7081339712919 1368.9186602870814,444.35406698564594 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
}
